* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 100px;
    width: 100%;
    /* background-color: blue; */
}

.wrapper {
    width: 500px;
    height: 300px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 4px;
}

.task-input {
    width: 400px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    border: transparent;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 4px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.filters {
    /* display: flex; */
    justify-content: space-between;
    margin-left: 5px;
}

.active {
    justify-content: space-between;
}